<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726185954390-5f7cbgafbbjadkfqfrvth04rkeedo9f6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726185954390-5f7cbgafbbjadkfqfrvth04rkeedo9f6</string>
	<key>API_KEY</key>
	<string>AIzaSyDoTMkH31dgZeHSWm1b7jXOsz9y3jkXrG8</string>
	<key>GCM_SENDER_ID</key>
	<string>726185954390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mySchoolApp</string>
	<key>PROJECT_ID</key>
	<string>myschool-am099</string>
	<key>STORAGE_BUCKET</key>
	<string>myschool-am099.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726185954390:ios:cd8315e1f44a997ad97ff7</string>
</dict>
</plist>